# Integration testing
behave
PyHamcrest
pycloudlib @ git+https://github.com/canonical/pycloudlib.git@dd27b604137cc5a20fb54e233ecb6a028b3d6891


# Simplestreams is not found on PyPi so pull from repo directly
git+https://git.launchpad.net/simplestreams@21c5bba2a5413c51e6b9131fc450e96f6b46090d
ipdb

