[Unit]
Description=Ubuntu Advantage auto attach
Before=cloud-config.service

[Service]
Type=oneshot
ExecStart=/usr/bin/ua auto-attach
TimeoutSec=0

[Install]
WantedBy=cloud-config.service multi-user.target
