[Unit]
Description=Ubuntu Advantage auto attach
Before=cloud-config.service
After=cloud-config.target

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /usr/lib/ubuntu-advantage/auto_attach.py
TimeoutSec=0

[Install]
WantedBy=cloud-config.service multi-user.target
