[Unit]
Description=Ubuntu Advantage Timer to check for GCP Ubuntu Pro licenses

[Timer]
OnCalendar=*:0/5
RandomizedDelaySec=5min
Persistent=true
OnStartupSec=1min

[Install]
WantedBy=timers.target
