[Unit]
Description=Ubuntu Pro reboot cmds
ConditionPathExists=/var/lib/ubuntu-advantage/marker-reboot-cmds-required
ConditionPathExists=/var/lib/ubuntu-advantage/private/machine-token.json
After=ua-auto-attach.service

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /usr/lib/ubuntu-advantage/reboot_cmds.py
TimeoutSec=0

[Install]
WantedBy=multi-user.target
