[Unit]
Description=Ubuntu Advantage reboot cmds
ConditionPathExists=/var/lib/ubuntu-advantage/marker-reboot-cmds-required
Wants=ua-auto-attach.service
After=ua-auto-attach.service

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /usr/lib/ubuntu-advantage/reboot_cmds.py
TimeoutSec=0

[Install]
WantedBy=multi-user.target
