[Unit]
Description=Ubuntu Advantage Timer for running repeated jobs

[Timer]
OnCalendar=hourly
RandomizedDelaySec=1h
FixdRandomDelay=true
Persistent=true
OnStartupSec=1min

[Install]
WantedBy=timers.target
