[Unit]
Description=Ubuntu Advantage Timer for running repeated jobs
After=network.target network-online.target systemd-networkd.service ua-auto-attach.service

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /usr/lib/ubuntu-advantage/timer.py
