# If you are uninterested in the (free for personal use) Ubuntu Advantage
# services, including security updates after standard EOL and kernel patching
# without rebooting, then you can safely stop and disable this service:
# sudo systemctl stop ua.service
# sudo systemctl disable ua.service

[Unit]
Description=Ubuntu Advantage Daemon
Documentation=man:ubuntu-advantage https://ubuntu.com/advantage
After=network.target network-online.target systemd-networkd.service ua-auto-attach.service

[Service]
# Xenial and Bionic systemd don't support Type=exec
Type=notify
NotifyAccess=main
ExecStart=/usr/bin/python3 /usr/lib/ubuntu-advantage/daemon.py
Restart=on-failure
WorkingDirectory=/var/lib/ubuntu-advantage/

[Install]
WantedBy=multi-user.target
