# This service exists to create a cloud-id-x file if it doesn't already exist.
# This is only activated on Xenial systems and will only run if cloud-init is
# less than version 22.1
# Creating the cloud-id-x file allows ubuntu-advantage.service to activate on
# the correct platforms.

[Unit]
Description=cloud-id shim
After=cloud-config.service
Before=ubuntu-advantage.service
# Only run if cloud-init is installed and ran
ConditionPathExists=/run/cloud-init/instance-data.json
# Only run if cloud-init didn't create the cloud-id file
ConditionPathExists=!/run/cloud-init/cloud-id

[Service]
Type=oneshot
ExecStart=/bin/sh /usr/lib/ubuntu-advantage/cloud-id-shim.sh

[Install]
WantedBy=multi-user.target
