Source: ubuntu-advantage-tools
Section: misc
Priority: important
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: bash-completion,
               debhelper (>=9),
               debianutils (>= 4.7),
               dh-python,
               dh-apparmor,
               apparmor,
# After debhelper 13.3 we no longer need dh-systemd.
# On hirsute and later, dh-systemd doesn't even exist.
# On recent releases, the first alternative will be used.
# On older releases (where debhelper is older than 13.3 and we need dh-systemd), the second alternative is used.
# Putting debhelper first allows a successful build on recent releases without requiring --resolve-alternatives during sbuild.
               debhelper (>= 13.3) | dh-systemd,
               gettext,
               git,
               libapt-pkg-dev,
               python3-apt,
               libjson-c-dev,
               libboost-test-dev,
               po-debconf,
               python3 (>= 3.4),
               python3-flake8,
               python3-jinja2,
               python3-mock,
               python3-pytest,
               python3-setuptools,
               python3-yaml
Standards-Version: 4.5.1
Homepage: https://ubuntu.com/advantage
Vcs-Git: https://github.com/canonical/ubuntu-pro-client.git
Vcs-Browser: https://github.com/canonical/ubuntu-pro-client
Rules-Requires-Root: no

Package: ubuntu-advantage-tools
Architecture: any
Depends: ${misc:Depends},
         ${python3:Depends},
         ${shlibs:Depends},
         python3-apt,
         python3-pkg-resources,
         ${extra:Depends}
Recommends: ubuntu-pro-client-l10n
Description: management tools for Ubuntu Pro
 Ubuntu Pro is the professional package of tooling, technology
 and expertise from Canonical, helping organisations around the world
 manage their Ubuntu deployments.
 .
 Subscribers to Ubuntu Pro will find helpful tools for accessing
 services in this package.

Package: ubuntu-pro-client-l10n
Architecture: any
Depends: ${misc:Depends}, ubuntu-advantage-tools (>=30~)
Description: Translations for Ubuntu Pro Client
 This package delivers translations of Ubuntu Pro Client for various
 languages.

Package: ubuntu-advantage-pro
Architecture: all
Depends: ${misc:Depends}, ubuntu-advantage-tools (>=20.2)
Replaces: ubuntu-advantage-tools (<<20.2)
Breaks: ubuntu-advantage-tools (<<20.2)
Description: Additional services for Ubuntu Pro images
 This package delivers an additional service that performs an auto-attach
 operation for Ubuntu Pro cloud instances. This package should not be manually
 installed, as it is already present on the cloud instances that require it.
