#!/usr/bin/make -f
export DH_VERBOSE=1
DEB_VERSION := $(shell dpkg-parsechangelog --show-field=Version)
FLAKE8 := $(shell flake8 --version 2> /dev/null)

%:
	dh $@ --with python3 --buildsystem=pybuild
	dh $@ --sourcedirectory=apt-hook --buildsystem=makefile

override_dh_auto_test:
	python3 -m pytest
ifdef FLAKE8
	# required for Trusty: flake8 does not install a __main__  for -m
	# invocation
	python3 $(shell which flake8) uaclient
else
	python3 -m flake8 uaclient
endif

override_dh_auto_install:
	dh_auto_install --sourcedirectory=apt-hook --buildsystem=makefile
	dh_auto_install --destdir=debian/ubuntu-advantage-tools
	flist=$$(find $(CURDIR)/debian/ -type f -name version.py) && sed -i 's,@@PACKAGED_VERSION@@,$(DEB_VERSION),' $${flist:-did-not-find-version-py-for-replacement}
