#!/bin/sh

set -e

. /usr/share/debconf/confmodule

if dpkg --compare-versions "$PREVIOUS_PKG_VER" lt-nl "20.2~"; then
    if dpkg --compare-versions "$PREVIOUS_PKG_VER" ge-nl "19.7~"; then
        # Use debconf to alert the user to the additional
        # ubuntu-advantage-pro package that should be installed
        db_input high ubuntu-advantage-tools/suggest_pro_pkg || true
        db_go || true
    fi
fi
