flake8==2.1.0
pep8==1.4.6
py==1.4.20
pytest==2.5.1

# pytest-cov isn't available in trusty; the package build tests don't require
# it, but including it here allows us to keep a consistent test command in
# tox.ini; we need the version constraint to work with pytest 2.5.1
pytest-cov<1.7
