---

name: Check secrets

on:
  workflow_call:
    secrets:
      SECRET_TO_CHECK:
        required: true
    outputs:
      has-secrets:
        value: ${{ jobs.check-env.outputs.has-secrets }}

jobs:
  check-env:
    name: Check that secrets are available
    runs-on: ubuntu-latest
    outputs:
      has-secrets: ${{ steps.has-secrets-check.outputs.has-secrets }}
    steps:
      - id: has-secrets-check
        env:
          SECRET_TO_CHECK: '${{ secrets.SECRET_TO_CHECK }}'
        if: ${{ env.SECRET_TO_CHECK != '' }}
        run: echo "::set-output name=has-secrets::true"
