---

name: CI (docs)

on:
  push:
  pull_request:

defaults:
  run:
    shell: sh -ex {0}

jobs:
  build-docs:
    name: Build Docs
    runs-on: ubuntu-22.04
    steps:
      - name: Git checkout
        uses: actions/checkout@v3
      - name: Install docs environment
        run: make install
      - name: Build docs
        run: make build
