# Ubuntu Advantage update-contracts
#
# Under certain upgrade conditions contract updates are applied at boot

description	"Ubuntu Advantage update contract"

start on runlevel [2345]
stop on runlevel [!2345]

respawn
respawn limit 10 5
umask 022

env SSH_SIGSTOP=1
expect stop

# 'sshd -D' leaks stderr and confuses things in conjunction with 'console log'
console none

pre-start script
    test -f /etc/ubuntu-advantage/request-update-contract || { stop; exit 0; }
end script

# if our marker file /etc/ubuntu-advantage/request-update-contract exists
exec /var/lib/ubuntu-advantage/upgrade-lts-contract.py --no-deamon
